force-app/main/default/flows/Create_Job_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>determines if there is already an account created</description>
        <name>Is_there_an_account</name>
        <label>Is there an account</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Application_Record</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Account</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <expression>{!DATEVALUE($Record.CreatedDate)}</expression>
    </formulas>
    <formulas>
        <name>NewRecordName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Title__c} &amp; &quot; &quot; &amp; {!TEXT($Flow.CurrentDate)}</expression>
    </formulas>
    <interviewLabel>Create Job Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Job Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_Create_Application_Record</name>
        <label>Copy 2 of Create Application Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>All_Accounts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Snippet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Posted_Date__c</field>
            <value>
                <elementReference>CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position_Title__c</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>All_Accounts.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salary__c</field>
            <value>
                <elementReference>$Record.Salary_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website_Posting__c</field>
            <value>
                <elementReference>$Record.Link__c</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Record</name>
        <label>Create Application Record</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>Create_New_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Snippet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Posted_Date__c</field>
            <value>
                <elementReference>CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position_Title__c</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salary__c</field>
            <value>
                <elementReference>$Record.Salary_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website_Posting__c</field>
            <value>
                <elementReference>$Record.Link__c</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_Application_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets all the org account records</description>
        <name>All_Accounts</name>
        <label>All Accounts</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Save__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Job_Postings__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Counts the amount of account records retrieved that match the criteria.</description>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
